body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header {
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
nav a {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  background: grey;
}
figcaption {
  font-size: small;
  text-align: center;
}
#featured-property p {
  margin-left: 400px;
  margin-right: 400px;
  text-align: center;
}
#details div{
  float: left;
  background: plum;
  text-align: center;
  width: 25%;
}

